* {
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100vh;
  font-family: "PT Sans Caption", sans-serif;
  color: rgb(33, 37, 41);
  background-color: #f7ecde;
}
header {
  position: relative;
}
h1 {
  font-size: 50px;
  font-family: "Pacifico", cursive;
  text-align: center;
  position: relative;
  z-index: 9;
}
h1::before {
  content: "";
  background-color: #fec260;
  height: 35%;
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: height 0.5s;
  z-index: -5;
}
h1:hover::before {
  height: 70%;
}
h3 {
  display: inline;
  font-size: 25px;
  text-align: center;
  background: linear-gradient(to right, #3ca55c, #b5ac49);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Righteous", cursive;
}

.box {
  border-top: 2px black dotted;
  border-bottom: 2px black dotted;
}
.box label{
  font-size: 16px;
  color: rgb(33, 37, 41);
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
}
.btn-red {
  background-color: #d1512d;
  color: #fff;
  width: 150px;
}
.btn-red:hover {
  background-color: #b64728;
  color: #fff;
}
.btn-green {
  background-color: #8a9e23;
}
.btn-green:hover {
  background-color: #7f9220;
} 
#b1{
 color: #3ca55c;
}
#b2{
  color: #b5ac49;
}